footer{
    clear: both;
    height: 190px;
    background-color: rgb(22, 168, 34);
    position: relative;

    text-align: center;
    
    bottom: -80px;
    width: 100%;

}
.footer_block{
    width: 50%;
    text-align: center;
    margin: auto;
}
.social{
    height: 80px;
    padding: 10px;
}
.social h1{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.copyright{

    font-size: 8px;
    font-family: 'Courier New', Courier, monospace;

}
#icon{
    padding: 10px;
    font-size: 28px;
    color: rgb(255, 0, 0);
    font-weight: 700;
}

@media screen and (max-width: 680px){
    .copyright{

        font-size: 7px;
    
    }
    #icon{
        font-size: 22px;
    }
}