{% extends "nav.html" %}
{% block body %}
    {{ block.super }}
    <div class="email_box">
        <h1 class="email_text">Get blog post right into your inbox</h1>
        <div class="email_container">
            <input placeholder="Enter email here" type="text" id="email_name" name="email">
            <input value="SUBSCRIBE" type="button" id="email_submit">
        </div>
    </div>



    <div class="blog_box">
        <div class="blog_container">
            <h1>Recent posts</h1>
            <div class="blog_items">
                <div class="blog_item">

                </div>
                <div class="blog_item">
                    
                </div>
                <div class="blog_item">
                    
                </div>
                <div class="blog_item">
                    
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div>
            
        </div>
        <div>

        </div>
        <div>
            
        </div>
    </footer>
{% endblock %}