*{
    margin: 0;
    padding: 0;
}

.navbar{
    list-style: none;
    align-items: center;
    box-shadow: 1px 1px 10px black;
    position: sticky;
    top: 0;
    height: 60px;
    box-sizing: border-box;
    background-color: white;

}

.nav_btn{
    background-color: rgba(255, 166, 0, 0.671);
    outline: none;
    border: none;
    float: right;
    margin: 10px;
    width: 40px;
    height: 43px;
    border-radius: 5px;
}
.nav_btn:active{
    box-shadow: 1px 1px 4px black;
}
.links{
    float: right;
    padding-right: 10%;
    transition: all 2s linear;
}

.nav_item{
    color: black;
    text-align: center;
    padding: 17px 18px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 550;
    vertical-align: baseline;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav_item:hover{
    color: red;
}

.logo{
    padding-left: 8%;
    float: left;
}

.topics_dropdown{
    display: none;
    margin-top: 50px;
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topics_dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 
  }
.dropdown{
    border: none;
    background-color: white;
    text-align: center;
    color: black;
    text-align: center;
    padding: 17px 18px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 550;
    vertical-align: baseline;
    cursor: pointer;
    outline: none;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dropdown:hover{
    border: none;
    color: red;
}
.topics_dropdown a:hover {background-color: #ddd;    color: red;}
.dropdown:hover + .topics_dropdown  {
    display: block;
}
.topics_dropdown:hover  {display: block;}







.email_box{
    margin: 0 auto;
    width: 50%;
    padding: 5px;
    background-color: rgba(180, 147, 147, 0.301);
    margin-top: 30px;
    border-radius: 40px;
    box-sizing: border-box;
}
.email_text{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
}
#email_name{
    outline: none;
    border: none;
    height:40px;
    width: 40%;
    text-align: center;
    font-size: large;
    background-color: rgba(180, 147, 147, 0);
    border-bottom: 2px solid rgb(204, 110, 110);
    margin-top: 50px;
    

}
.email_container{
    width: 100%;
    display: flex;  
    justify-content: center;  
    align-items: center;
    flex-direction: column;

}
#email_submit{
    line-height: 0px;
    height: 20px;
    margin-top: 40px;
    padding: 20px;
    width: 30%;
    outline: none;
    border: none;
    text-align: center;
    font-size: 95%;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    background-color: red;
    box-shadow: 1px 1px 3px rgb(60, 62, 63);
    cursor: pointer;
    margin-bottom: 20px;
    
    
}
#email_submit:hover{
    box-shadow: 1px 2px 5px rgb(60, 62, 63);

}
#email_submit:active{
    box-shadow: 1px 1px 6px rgb(60, 62, 63);
}

.blog_box{

    box-sizing: border-box;

}

.blog_container{
    margin: 40px 60px;
    box-sizing: border-box;
}

.blog_container h1{
    text-align: center;
    font-size: larger;
    padding: 20px;
}

.blog_item{
    margin: 20px;
    background-color: gray;
    width: 29%;
    height: 230px;
    float: left;
}






  













@media screen and (max-width: 680px) {
    .links{
        width: 100%;
        background-color: white;
        box-shadow: 0 8px 6px -6px black;
        margin-top: -5px;
        display: none;
        

    }
    .nav_item{
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        font-weight: 550;
        width: 100%;
        text-align: 100%;
        vertical-align: baseline;
        cursor: pointer;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .dropdown{
        width: 100%;
        padding: 0px;
        padding-bottom: 16px;
        margin: 0px;
    }
    .link{
        width: 100%;
        margin: 0px;

    }
    .blog_item{
        margin: 17px;
        background-color: gray;
        width: 90%;
        height: 230px;
        float: left;
    }

    #change{
        display: block;
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;

    }
    .email_box{
        width: 60%;
    }
    #email_name{
        width: 80%;
    }
    #email_submit{
        width: 65%;
    }
  }



@media screen and (min-width: 680px) {
    .nav_btn{
        display: none;
    }
    #change{
        display: flex;
        transition: all 0s ease-in-out;
    }

  }

  











